doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title
  link(rel='stylesheet', href='/stylesheets/style.css')
section
  h1 Cryptovibes
  h3
    | Current balance 
    span.balance
  h3 Most recent transaction
  .recent
  h3 History
  .history
nav
  a(href='./transfer.pug') Transfer
  a(href='#') Scoreboard
  a(href='#') Home
  a(href='#') Account
script(src='/javascripts/index.js')