doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://use.typekit.net/nkl8usf.css')
  link(rel='stylesheet', href='/dist/app.css')
  
  section.historyMain
  h1 CRYPTOVIBES

  h3.historyBalance Current balance 
    span.balance

  //.recentTransaction
    h3 Most recent transaction
      .recent

  .historyTransaction
    h3 History
      .history

  .navigationbar
    a.nav(href='/transfer') Transfer
    a.nav(href='/leaderboard') Leaderboard
    a.nav(href='/index') Home
    a.nav(href='/account') Account

script(src='../javascripts/index.js')