doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/stylesheets/style.css')
section
  h1 Cryptovibes
  h3
    | Current balance 
    span.balance
  h3 Most recent transaction
  .recent
  h3 History
  .history

  a.nav(href='/transfer') Transfer
  a.nav(href='#') Scoreboard
  a.nav(href='#') Home
  a.nav(href='#') Account
script(src='../javascripts/index.js')