doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='../public/stylesheets/style.css')
  title Cryptovibes Log in
.main
  section.login
    .container
        .alarm 
        .login-content
            div
                label(for='email') Email
                input#email.inputText(type='text' name='email')
            div
                label(for='password') Password
                input#password.inputText(type='password' name='password')
            button.login_btn Login
script(src='../public/javascripts/login.js')