doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='/stylesheets/style.css')
  title Cryptovibes Sign Up
.main
  section.signup
    .container
      .signup-content
        form#signup-form.signup-form(method='POST')
          h2.form-title Register for an account
          h3.emailValidation.err.hidden You need to sign up with a valid student email. A valid student email ends with "@student.thomasmore.be".
          .form-group
            input#firstname.form-input(type='text' name='name' placeholder='Your Firstame')
          .form-group
            input#lastname.form-input(type='text' name='name' placeholder='Your Lastname')
          .form-group
            input#email.form-input(type='email' name='email' placeholder='Your Email ending with "@student.thomasmore.be"')
          .form-group
            input#password.form-input(type='password' name='password' placeholder='Password')
            span.zmdi.zmdi-eye.field-icon.toggle-password(toggle='#password')
          .form-group
            input#re_password.form-input(type='password' name='re_password' placeholder='Repeat your password')
          .form-group
            input#submit.form-submit(type='submit' name='submit' value='Register')
        p.loginhere
          | Already have an account ? 
          a.loginhere-link(href='https://cryptovibes.herokuapp.com/login') Login here

script(src='/javascripts/signup.js')
