doctype html
head
  title Cryptovibes Sign Up
.main
  section.signup
    .container
      .signup-content
        form#signup-form.signup-form(method='POST')
          h2.form-title Register for an account
          .form-group
            input#firstname.form-input(type='text' name='name' placeholder='Your Firstame')
          .form-group
            input#lastname.form-input(type='text' name='name' placeholder='Your Lastname')
          .form-group
            input#email.form-input(type='email' name='email' placeholder='Your Email ending with "@student.thomasmore.be"')
          .form-group
            input#password.form-input(type='text' name='password' placeholder='Password')
            span.zmdi.zmdi-eye.field-icon.toggle-password(toggle='#password')
          .form-group
            input#re_password.form-input(type='password' name='re_password' placeholder='Repeat your password')
          .form-group
            input#submit.form-submit(type='submit' name='submit' value='Register')
        p.loginhere
          | Have already an account ? 
          a.loginhere-link(href='#') Login here
