doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/dist/transfer.scss')
    link(rel='stylesheet', href='https://use.typekit.net/nkl8usf.css')
    title Cryptovibes

h1 Cryptovibes
.image
#container.transaction
  form
    .transactionform
      .form
        .searchReceiver
          label(for='receiver') Choose your receiver
          input.receiverName(type='text' placeholder='Enter emailadres of receiver')
          .matchUser

        .reason
          label#reasonlabel(for='reason') Reason
            select(name='Reason')
              option(value='1') Design
              option(value='2') Development
              option(value='3') Feedback
              option(value='4') Other

        .amount
          label(for='amount') Amount
          input#field(type='text' value='amount' placeholder='amount')

        .message
          label(for='message') Message
          input#field(type='text' value='message' placeholder='message')

      .submit
        button.btn(type='submit')
          span.btn__text Transfer
script(src='../javascripts/transfer.js')