doctype html
head
  title Cryptovibes Transaction
  link(rel='stylesheet' href='stylesheets/transfer.css')
h1 Cryptovibes
#container.transaction
  form
    .transactionform
      .form
        select.receiver
          option(selected='selected') Choose your receiver
          option(value='1') One
          option(value='2') Two
          option(value='3') Three
        br
        select.reason
          option(selected='selected') Choose your reason
          option(value='1') One
          option(value='2') Two
          option(value='3') Three
          option(value='4') Three
          option(value='5') Three
          option(value='6') Three
          option(value='7') Three

        .amount
          label(for='amount') Amount
          input#field(type='number' name='amount')
        
        .message
          label(for='message') Message
          input#field(type='text' name='message')

      .submit
        a.btn(href='#')
          span.btn__text Transfer


script(src='../javascripts/transfer.js')
script(src='https://cryptovibes.herokuapp.com/primus/primus.js')
