doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://use.typekit.net/nkl8usf.css')
    link(rel='stylesheet', href='/dist/app.css')

    title Cryptovibes

h1 Cryptovibes
.image 
#container.transaction
  form
    .transactionform
      .form
        .searchReceiver
          label(for='receiver') Choose your receiver
          input.receiverName(type='text' name='receiver' placeholder='Enter emailadres of receiver')
          .matchUser

        .reason
          label#reasonlabel(for='reason') Reason
            select#reason(name='reason')
              option(value='Select') Select
              option(value='Design') Design
              option(value='Development') Development
              option(value='Achieving deadline') Achieving deadline
              option(value='Feedback') Feedback
              option(value='Other') Other

        .amount
          label(for='amount') Amount
          input#field(class="amountinput" type='text' name='amount' placeholder='amount')

        .message
          label(for='message') Message
          input#field(class="messageinput" type='text' name='message' placeholder='message')

      .submit
        button.btn(type='submit')
          span.btn__text Transfer
script(src='../javascripts/transfer.js')