doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/transfer.css')

    title Cryptovibes

h1 Cryptovibes
.image
#container.transaction
  form
    .transactionform
      .form
        .searchReceiver
          input.receiverName(type='text' placeholder='Enter emailadres of receiver...')
          .matchUser
        .amount
          label(for='amount') Amount
          input#field(type='text' value='amount' placeholder='amount')
        .message
          label(for='message') Message
          input#field(type='text' value='message' placeholder='message')
      .submit
        button.btn(type='submit')
          span.btn__text Transfer
script(src='/public/javascripts/transfer.js')