body{
  position: relative;
  width: 375px;
  height: 812px;
  background: #000000;
  /* background-image: url(./logocrypto.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 20vh;
  box-sizing: border-box; */
}

h1{
  font-family: Industry;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  /* text-align: center; */
  color: #72ADD1;
  margin-left: 10%;
}

.image{
  height: 250px;
  width:auto;
  background-image: url('./logocrypto.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 20vh;
  width:auto;
  margin-left: 25%;
  margin-bottom:5%;
  box-sizing: border-box;
}

.transaction{
  width: 282px;
  height: 269px;
  text-align: center;
  align-content: center;
}

.receiver{
  height: 22px;
  font-family: Industry;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #7FB3C9;
  background: #000000;
  border: 0px;
  text-align:center;
}

.reason{
  font-family: Industry;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #7FB3C9;
  background: #000000;
  border: 0px;
  margin-top:15px;
  margin-bottom:15px;
  text-align:center;
}

.amount{
  font-family: Industry;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #7FB3C9;
  border: 0px;
  margin-bottom:15px;
  text-align:center;
}

.message{
  font-family: Industry;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #7FB3C9;
  border: 0px;
  margin-bottom:15px;
  text-align:center;
}

#field{
  background: #000000;
  font-family: Industry;
  font-style: light;
  text-align: center;
  color: #72ADD1;
  opacity: 0.55;
  border: 0.8px;
  width:200px;
  height:45px;
}

.submit{
  margin:0.5%;
}

.btn{
  position: absolute;
  width:150px;
  height:45px;
  background: linear-gradient(162.76deg, #786CE6 0%, #747ED3 41.68%, #6D9EB2 100%);
  mix-blend-mode: normal;
  opacity: 0.55;
  box-shadow: 1px 1px 2px #6D9EB2;
  border-radius: 16px;
  margin-left: -15%;
}

.btn__text{
  font-family: Industry;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
  line-height: 26px;
}