.amount{
    display: inline-flex;
    grid-row:3 3;
    justify-content: center;
    font-family: Industry;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #7FB3C9;
    margin-left:-21%;
  }
  
  .amount#field{
    display: inline-flex;
  }