body{
    position: relative;
    width: 375px;
    height: 812px;
    background: #000000;
    text-align: left;
    /* background-image: url('./logocrypto.svg');
    background-position: center;
    background-size: 20 10;
    background-repeat: no-repeat; */
  }

  #field{
    background: #000000;
    font-family: Industry;
    font-style: light;
    text-align: center;
    color: #72ADD1;
    opacity: 0.55;
    border: 0px;
    display: inline-flex;
    width: 100px;
    height:45px;
  }

  .login-content label{
    font-family: Industry;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  }
  