.submit{
    display: flex;
    justify-content: center;
    margin-top:-25%;
  }
  
.btn{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Industry;
  color: white;
  border-radius: 15px;
  }
  
  .btn__text{
    font-family: Industry;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    line-height: 26px;
  }

  .btn--login{
    background-color: $color-navBg;
  }