.payment p{
margin: 0;
}

.payment{
border-bottom: 1px solid $color-text;
}

.payment__quantity{
margin-left: 10px;
}

.payment--deposit .payment__quantity{
color: $color-deposit;
}

.payment--withdrawal .payment__quantity{
color: $color-withdrawal;
}

.historyTransaction{
     width: 80%;
     margin: auto;
}