
.payment p{
margin: 0;
font-family: Industry;
color: $color-text;
text-align: center;
}

.payment{
border-bottom: 1px solid $color-text;
}

.payment__quantity{
margin-left: 15px;
}

.payment--deposit .payment__quantity{
color: $color-deposit;
}

.payment--withdrawal .payment__quantity{
color: $color-withdrawal;
}

.historyMain{
     width: 70%;
     margin: auto;
     background-image: url("../logocrypto.svg");
}

.historyMain h3{
     text-align: left;
}

.historyBalance{
     color: white;
     font-weight: lighter;
     text-align: center;
}

.balance{
     color: $color-deposit;
}