
.payment p{
margin: 0;
font-family: Industry;
color: $color-text;
text-align: center;
}

.payment{
border-bottom: 1px solid $color-text;
padding-top: 10px;
padding-bottom: 10px;
}

.payment__quantity{
margin-left: 15px;
}

.payment--deposit .payment__quantity{
color: $color-deposit;
}

.payment--withdrawal .payment__quantity{
color: $color-withdrawal;
}

.historyMain{
     width: 70%;
     margin: auto;
     background-image: url("../logocrypto.svg");
     background-repeat: no-repeat;
     background-position: center;
     opacity: 0.5;
}

.historyBalance{
     color: white;
     font-weight: lighter;
}

.balance{
     color: $color-deposit;
     margin-left: 15px;
}