.image{
    height: 250px;
    width:auto;
    background-image: url('/public/stylesheets/logocrypto.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh;
    width:auto;
    box-sizing: border-box;
    margin-left: 35%;
  }