body{
    position: relative;
    width: 375px;
    height: 812px;
    background: #000000;
    /* background-image: url('./logocrypto.svg');
    background-position: center;
    background-size: 20 10;
    background-repeat: no-repeat; */
  }